<a href="https://colab.research.google.com/github/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Proj05_final/Notebook/Bootcamp_Proj_05-Metodologias_de_Categoriza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Módulo 5 do Bootcamp Data Science 3 - Metodologia de Categorização
---
Autor: Vitor Rodrigues

e-mail: vitorfbaiano@gmail.com

---

In [1]:
import pandas as pd

AGE_PERC_URL = 'https://github.com/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Proj05_final/dados/Kaggle_Sirio_Libanes_AGE_PERCENTIL.xlsx?raw=true'

In [2]:
dados = pd.read_excel(AGE_PERC_URL)
dados

      PATIENT_VISIT_IDENTIFIER AGE_PERCENTIL
0                            0          60th
1                            0          60th
2                            0          60th
3                            0          60th
4                            0          60th
...                        ...           ...
1920                       384          50th
1921                       384          50th
1922                       384          50th
1923                       384          50th
1924                       384          50th

[1925 rows x 2 columns]

In [3]:
dados_categorizar = dados['AGE_PERCENTIL']

## Metodologia Find and Replace

In [4]:
dados_categorizar.unique()

array(['60th', '90th', '10th', '40th', '70th', '20th', '50th', '80th',
       '30th', 'Above 90th'], dtype=object)

In [5]:
dados_categorizar.value_counts()

20th          215
10th          205
30th          205
40th          200
70th          195
50th          190
80th          190
60th          185
Above 90th    185
90th          155
Name: AGE_PERCENTIL, dtype: int64

In [6]:
substituir = {"60th": 60, 
              "10th": 10, 
              "40th": 40, 
              "70th": 70, 
              "20th": 20, 
              "50th": 50, 
              "80th": 80, 
              "30th": 30,
              "90th": 90, 
              "Above 90th": 100}
dados_categorizado_find_replace = dados_categorizar.replace(substituir)
dados_categorizado_find_replace

0       60
1       60
2       60
3       60
4       60
        ..
1920    50
1921    50
1922    50
1923    50
1924    50
Name: AGE_PERCENTIL, Length: 1925, dtype: int64

## Metodologia Label Encoding

In [7]:
pd.get_dummies(dados_categorizar).head()

   10th  20th  30th  40th  50th  60th  70th  80th  90th  Above 90th
0     0     0     0     0     0     1     0     0     0           0
1     0     0     0     0     0     1     0     0     0           0
2     0     0     0     0     0     1     0     0     0           0
3     0     0     0     0     0     1     0     0     0           0
4     0     0     0     0     0     1     0     0     0           0

## Metodologia Scikit-Learn - OriginalEncoder

In [15]:
from sklearn.preprocessing import OrdinalEncoder

dados_categorizar_code = pd.DataFrame([dados_categorizar]).T

ord_enc = OrdinalEncoder()
dados_categorizar_code["AGE_PERCENTIL_code"] = ord_enc.fit_transform(dados_categorizar_code[["AGE_PERCENTIL"]])
dados_categorizar_code

     AGE_PERCENTIL  AGE_PERCENTIL_code
0             60th                 5.0
1             60th                 5.0
2             60th                 5.0
3             60th                 5.0
4             60th                 5.0
...            ...                 ...
1920          50th                 4.0
1921          50th                 4.0
1922          50th                 4.0
1923          50th                 4.0
1924          50th                 4.0

[1925 rows x 2 columns]

## Metodologia Scikit-Learn - OneHotEncoder

In [17]:
from sklearn.preprocessing import OneHotEncoder

dados_categorizar_code = pd.DataFrame([dados_categorizar]).T

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(dados_categorizar_code)
pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_).head()

  10th 20th 30th 40th 50th 60th 70th 80th 90th Above 90th
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0
2  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0
3  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0

## Referêcias
[Categorical Encoding](https://pbpython.com/categorical-encoding.html)