<a href="https://colab.research.google.com/github/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Proj05_final/Notebook/Previs%C3%A3o_de_Incrementos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Módulo 5 do Bootcamp Data Science 3 - Previsão de incrementos no tempo
---
Autor: Vitor Rodrigues

e-mail: vitorfbaiano@gmail.com

---

Assistir aula do [link](https://bootcamps.alura.com.br/course/bootcamp-datascience-3-modulo-4/task/74618) a partir no minuto 09:20 e escrever como podemos utilizar os mesmos valores no tempo e obter bons resultados.

In [2]:
import pandas as pd
dados_fake = pd.DataFrame([[1, None, 1], [1, 2.5, 2], 
                           [2, 3.0, 1], [2, None, 2],
                           [3, None, 1], [3, 1, 2], [3, None, 3],
                           [4, None, 1], [4, 6, 2], [4, None, 3], [4, 5, 4], [4, None, 5]
                          ], columns=['usuario', 'medida', 'janela'])
dados_fake

    usuario  medida  janela
0         1     NaN       1
1         1     2.5       2
2         2     3.0       1
3         2     NaN       2
4         3     NaN       1
5         3     1.0       2
6         3     NaN       3
7         4     NaN       1
8         4     6.0       2
9         4     NaN       3
10        4     5.0       4
11        4     NaN       5

In [6]:
dados_fake.groupby('usuario', as_index=False).fillna(method='ffill').fillna(method='bfill') #metodo foward fill

    medida  janela
0      2.5       1
1      2.5       2
2      3.0       1
3      3.0       2
4      1.0       1
5      1.0       2
6      1.0       3
7      6.0       1
8      6.0       2
9      6.0       3
10     5.0       4
11     5.0       5