<a href="https://colab.research.google.com/github/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Modulo05/Bootcamp_Datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Módulo 05

##Workflow de Machine Learning

In [1]:
import pandas as pd
import numpy as np

# dados = pd.read_excel("https://github.com/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Modulo05/dados/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true")
# dados.head()

dados = pd.read_excel("https://github.com/alura-cursos/covid-19-clinical/blob/main/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true")
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [2]:
def preenche_tabela(dados):
    features_continuas_colunas = dados.iloc[:, 13:-2].columns
    features_continuas = dados.groupby("PATIENT_VISIT_IDENTIFIER", as_index=False)[features_continuas_colunas].fillna(method='bfill').fillna(method='ffill')
    features_categoricas = dados.iloc[:, :13]
    saida = dados.iloc[:, -2:]
    dados_finais = pd.concat([features_categoricas, features_continuas, saida], ignore_index=True,axis=1)
    dados_finais.columns = dados.columns
    return dados_finais

In [3]:
dados_limpos = preenche_tabela(dados)
a_remover = dados_limpos.query("WINDOW=='0-2' and ICU==1")['PATIENT_VISIT_IDENTIFIER'].values
dados_limpos = dados_limpos.query("PATIENT_VISIT_IDENTIFIER not in @a_remover")
dados_limpos = dados_limpos.dropna()
dados_limpos.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1760.000000  ...  1760.000000
mean                 192.818182  ...     0.201705
std                  110.637724  ...     0.401387
min                    0.000000  ...     0.000000
25%                   97.750000  ...     0.000000
50%                  191.500000  ...     0.000000
75%                  289.250000  ...     0.000000
max                  384.000000  ...     1.000000

[8 rows x 229 columns]

In [4]:
def prepare_window(rows):
    if(np.any(rows["ICU"])):
        rows.loc[rows["WINDOW"]=="0-2", "ICU"] = 1
    return rows.loc[rows["WINDOW"] == "0-2"]

dados_limpos = dados_limpos.groupby("PATIENT_VISIT_IDENTIFIER").apply(prepare_window)
dados_categorizar = dados_limpos.AGE_PERCENTIL
dados_limpos.AGE_PERCENTIL = dados_limpos.AGE_PERCENTIL.astype("category").cat.codes
dados_limpos.head()

                             PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  WINDOW  ICU
PATIENT_VISIT_IDENTIFIER                                            ...
0                        0                          0            1  ...     0-2    1
2                        10                         2            0  ...     0-2    1
3                        15                         3            0  ...     0-2    0
4                        20                         4            0  ...     0-2    0
5                        25                         5            0  ...     0-2    0

[5 rows x 231 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

np.random.seed(73246)


x_columns = dados.columns
y = dados_limpos["ICU"]
x = dados_limpos[x_columns].drop(["ICU","WINDOW"], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y)
modelo = DummyClassifier()
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.5340909090909091

In [6]:
modelo = LogisticRegression(max_iter=10000)
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.6818181818181818

In [7]:
for coluna in dados.columns:
    if coluna not in x_columns:
        print(coluna)

###Desafio 01: Transformar a coluna AGE_PERCENTIL em dados categoricos, mas utilizando outro metodo

In [8]:
#https://pbpython.com/categorical-encoding.html
dados_categorizar

PATIENT_VISIT_IDENTIFIER
0                         0             60th
2                         10            10th
3                         15            40th
4                         20            10th
5                         25            10th
                                     ...
380                       1900          40th
381                       1905    Above 90th
382                       1910          50th
383                       1915          40th
384                       1920          50th
Name: AGE_PERCENTIL, Length: 352, dtype: object

In [9]:
# Metodologia Find and Replace
dados_categorizar.unique()

array(['60th', '10th', '40th', '70th', '20th', '50th', '80th', '30th',
       '90th', 'Above 90th'], dtype=object)

In [10]:
dados_categorizar.value_counts()

20th          42
30th          39
40th          38
10th          37
80th          36
70th          34
50th          34
Above 90th    34
60th          30
90th          28
Name: AGE_PERCENTIL, dtype: int64

In [11]:
substituir = {"60th": 60, 
              "10th": 10, 
              "40th": 40, 
              "70th": 70, 
              "20th": 20, 
              "50th": 50, 
              "80th": 80, 
              "30th": 30,
              "90th": 90, 
              "Above 90th": 100}
dados_categorizado_find_replace = dados_categorizar.replace(substituir)
dados_categorizado_find_replace

PATIENT_VISIT_IDENTIFIER
0                         0        60
2                         10       10
3                         15       40
4                         20       10
5                         25       10
                                 ...
380                       1900     40
381                       1905    100
382                       1910     50
383                       1915     40
384                       1920     50
Name: AGE_PERCENTIL, Length: 352, dtype: int64

In [12]:
# Metodologia Label Encoding
dados_categorizado_label_enc = dados_categorizar.astype('category').cat.codes
dados_categorizado_label_enc

PATIENT_VISIT_IDENTIFIER
0                         0       5
2                         10      0
3                         15      3
4                         20      0
5                         25      0
                                 ..
380                       1900    3
381                       1905    9
382                       1910    4
383                       1915    3
384                       1920    4
Length: 352, dtype: int8

In [13]:
# Metodologia One Hot Encoding
pd.get_dummies(dados_categorizar).head()

                             10th  20th  30th  ...  80th  90th  Above 90th
PATIENT_VISIT_IDENTIFIER                       ...
0                        0      0     0     0  ...     0     0           0
2                        10     1     0     0  ...     0     0           0
3                        15     0     0     0  ...     0     0           0
4                        20     1     0     0  ...     0     0           0
5                        25     1     0     0  ...     0     0           0

[5 rows x 10 columns]

In [56]:
# Metodologia Scikit-Learn - OriginalEncoder
from sklearn.preprocessing import OrdinalEncoder

dados_categorizar_code = pd.DataFrame([dados_categorizar]).T
dados_categorizar_code = dados_categorizar_code.reset_index().drop('level_1', axis=1).drop('PATIENT_VISIT_IDENTIFIER', axis=1)

ord_enc = OrdinalEncoder()
dados_categorizar_code["AGE_PERCENTIL_code"] = ord_enc.fit_transform(dados_categorizar_code[["AGE_PERCENTIL"]])
dados_categorizar_code

    AGE_PERCENTIL  AGE_PERCENTIL_code
0            60th                 5.0
1            10th                 0.0
2            40th                 3.0
3            10th                 0.0
4            10th                 0.0
..            ...                 ...
347          40th                 3.0
348    Above 90th                 9.0
349          50th                 4.0
350          40th                 3.0
351          50th                 4.0

[352 rows x 2 columns]

In [58]:
# Metodologia Scikit-Learn - OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

dados_categorizar_code = pd.DataFrame([dados_categorizar]).T
dados_categorizar_code = dados_categorizar_code.reset_index().drop('level_1', axis=1).drop('PATIENT_VISIT_IDENTIFIER', axis=1)

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(dados_categorizar_code)
pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_).head()

  10th 20th 30th 40th 50th 60th 70th 80th 90th Above 90th
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0        0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0
2  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0        0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0
4  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0        0.0