<a href="https://colab.research.google.com/github/VitorFRodrigues/Data-Science-Bootcamp/blob/main/Proj03/Notebook/Bootcamp_Proj_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=Warning)
URL = 'https://raw.githubusercontent.com/VitorFRodrigues/Data-Science-Bootcamp/main/Proj03/dados/caso_full-FILTRADO.csv'

In [2]:
dados = pd.read_csv(URL, sep=";", thousands=".", decimal=",")

In [3]:
dados.head()

         city        date  ...  new_confirmed  new_deaths
0  Rio Branco  2020-03-17  ...              3           0
1         NaN  2020-03-17  ...              3           0
2  Rio Branco  2020-03-18  ...              0           0
3         NaN  2020-03-18  ...              0           0
4  Rio Branco  2020-03-19  ...              1           0

[5 rows x 14 columns]